`<template>
    <div>
        <div>
            <nav class="navbar navbar-expand-sm navbar-dark bg-info mb-2">
                <div class="container">
                    <a href="#" class="navbar-brand">Quotes.com</a>
                    <button id="show-modal" @click="createQuote()" class="btn btn-success">Add quote</button>
                </div>
            </nav>
        </div>
        <div class="container">
            <quote-form v-if="showModal" @close="saveQuote" :quote="quote"></quote-form>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prev_page_url}]"
                        class="page-item"><a class="page-link" href="#"
                                             @click="getQuotes(pagination.prev_page_url)">Previous</a></li>

                    <li class="page-item disabled"><a class="page-link text-dark" href="#">
                        Page {{ pagination.current_page }} of {{ pagination.last_page }}
                    </a></li>

                    <li v-bind:class="[{disabled: !pagination.next_page_url}]"
                        class="page-item"><a class="page-link" href="#"
                                             @click="getQuotes(pagination.next_page_url)">Next</a></li>
                </ul>
            </nav>
            <div class="card card-body mb-2" v-for="quote in quotes" v-bind:key="quote.id">
                <h3>{{ quote.author }}</h3>
                <p>{{ quote.text }}</p>
                <div>
                    <ul class="ti-tags">
                        <li tabindex="0" class="ti-tag ti-valid" v-for="tag in quote.tags" v-bind:key="tag.id">
                            <div class="ti-content">
                                <div class="ti-tag-center"><span class="">{{ tag.text }}</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <span>Created: {{ quote.created_at | formatDate }}</span>
                <hr>
                <button @click="updateQuote(quote)" class="btn btn-warning mb-2">Edit</button>
                <button @click="deleteQuote(quote.id)" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "Quotes",
    data() {
        return {
            quotes: [],
            pagination: {},
            showModal: false,
            add: false,
            quote: {}
        }
    },

    created() {
        this.getQuotes();
    },

    methods: {
        getQuotes(page_url) {
            let vm = this;
            page_url = page_url || '/api/quotes';
            axios.get(page_url).then(response => {
                this.quotes = response.data.data;
                vm.makePagination(response.data.meta, response.data.links);
            }).catch(err => console.log(err));
        },
        makePagination(meta, links) {
            this.pagination = {
                current_page: meta.current_page,
                last_page: meta.last_page,
                next_page_url: links.next,
                prev_page_url: links.prev
            };
        },
        createQuote() {
            this.quote = this.getDefaultQuoteValues();
            this.add = true;
            this.showModal = true;
        },
        updateQuote(quote) {
            this.quote = quote;
            this.showModal = true;
        },
        deleteQuote(id) {
            if (confirm('Are You Sure?')) {
                axios.delete(`api/quote/${id}`)
                    .then(response => {
                        alert('Quote Removed');
                        this.getQuotes();
                    }).catch(err => console.log(err));
            }
        },
        saveQuote(params) {
            this.showModal = false;
            let config = {headers: {'content-type': 'application/json'}};
            if (this.add && params) {
                axios.post('api/quote', JSON.stringify(params), config)
                    .then(response => {
                        alert('Quote Added');
                        this.getQuotes();
                    }).catch(err => console.log(err));
            } else if (params) {
                axios.put(`api/quote/${params.id}`, JSON.stringify(params), config)
                    .then(response => {
                        alert('Quote Updated');
                        this.getQuotes();
                    }).catch(err => console.log(err));
            }
            this.add = false;
        },
        getDefaultQuoteValues() {
            return {
                id: '',
                author: '',
                text: '',
                tags: [],
            };
        }
    }
}
</script>

<style scoped>

</style>
`
