<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header">
                            <h3 v-if="this.$parent.add">Add quote</h3>
                            <h3 v-else>Update quote</h3>
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <form class="mb-3">
                                <div v-if="errors.length" class="mb-3">
                                    <b>Please fix the following errors:</b>
                                    <ul class="list-group" v-for="error in errors">
                                        <li class="list-group-item list-group-item-danger mb-1">{{ error }}</li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Author"
                                           v-model="quote.author">
                                </div>
                                <div class="form-group">
                                    <textarea type="text" class="form-control" placeholder="Text"
                                              v-model="quote.text"></textarea>
                                </div>
                                <div class="form-group">
                                    <span>Maximum - 3 tags.</span>
                                    <vue-tags-input
                                        v-model="tag"
                                        :tags="quote.tags"
                                        :autocomplete-items="autocompleteItems"
                                        :add-only-from-autocomplete="true"
                                        :max-tags="3"
                                        @tags-changed="update"
                                    />
                                </div>
                            </form>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button type="submit" class="btn btn-success" @click="save">Save</button>
                            <button class="modal-default-button btn btn-secondary" @click="$emit('close')">
                                Close
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>


<script>
import VueTagsInput from '@johmun/vue-tags-input';
import axios from 'axios';

export default {
    name: "QuoteForm",
    comments: {
        VueTagsInput,
    },
    props: ['quote'],
    data() {
        return {
            tag: '',
            autocompleteItems: [],
            debounce: null,
            errors: [],
        }
    },
    watch: {
        'tag': 'initTags',
    },
    methods: {
        formValid() {
            this.errors = [];
            if (!this.quote.author) {
                this.errors.push('Author is required.');
            }
            if (!this.quote.text) {
                this.errors.push('Text is required.');
            }
            if (!this.quote.tags.length) {
                this.errors.push('Add at least 1 tag.');
            }
            return this.errors.length <= 0;
        },
        save() {
            if (this.formValid()) {
                this.$emit('close', this.quote);
            }
        },
        update(newTags) {
            this.autocompleteItems = [];
            this.quote.tags = newTags;
        },
        initTags() {
            if(this.quote.tags.length === 3) return;
            const url = `/api/tags/search?term=${this.tag}`;

            clearTimeout(this.debounce);
            this.debounce = setTimeout(() => {
                axios.get(url).then(response => {
                    this.autocompleteItems = response.data.data.map(a => {
                        return { text: a.text, id: a.id };
                    });
                });
            }, 600);
        },
    }
}
</script>

<style scoped>

</style>
